<!DOCTYPE HTML>
<html lang="en">
<%- include('./partials/head.ejs')%>
<body>
<%- include('./partials/nav.ejs')%>
<h1>Contacts:</h1>
<ul style="display: flex;flex-direction: column">
    <li>E-mail:AksonovOleksandr@hotmail.com</li>
    <li>Phone:+38097***2213</li>
    <li><a href="https://join.skype.com/invite/zzCoSg9c6IhU">SkypeLink</a> </li>
</ul>
</body>
</html>
