<!DOCTYPE HTML>
<html lang="en">
<%- include('./partials/head.ejs')%>
<body>
<%- include('./partials/nav.ejs')%>
<h1>PERSONAL BLOG</h1>
<p>Built with Node.js/Express.js,EJS,Mongoose</p>
</body>
</html>
